<h1 class="text-center">Personal Information</h1>
<p class="text-center">Please upload a photo and provide some basic information about you.</p><form class="form-horizontal" [formGroup]="profile" (ngSubmit)="formSubmit(profile.value,profile.valid)">
  <div class="row">
    <div class=" col-md-6">Full Name </div>
<div class=" col-md-6">Last Name </div>
  </div>
   <div class="row">
  <div class="form-group col-md-6">
    <input type="text" class="form-control" formControlName="first_name">
     <div invalidmessage="first_name" >
                         <p *invalidtype="'required'" class="control-label form-group has-error">First should not be Empty</p>
                         <p *invalidtype="'pattern'">Special characters not allowed</p>
                      </div>
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="last_name">
         <div invalidmessage="last_name" >
                         <p *invalidtype="'required'" class="control-label form-group has-error">Lastname should not be Empty</p>
                         <p *invalidtype="'pattern'">Special characters not allowed</p>
                      </div>
    </div>
    </div>
      Gender    :
    <div class="row form-group">
    <div class="col-md-6"><input type="radio" name="gender" formControlName="gender" value="male">male</div>
    <div class="col-md-6">  <input type="radio" name="gender" formControlName="gender"  value="female">female</div>        
    </div>

 EMAIL ADDRESS
     <div class="row">
       <div class="col-md-12">
       <input type="text" class="form-control" formControlName="email">
        <div invalidmessage="email" >
                       <p *invalidtype="'required'" class="control-label form-group has-error">Email should not be Empty</p>
                       <p *invalidtype="'pattern'">Invalid Email Address</p>
                     </div>
        </div>
        </div>
 DATE OF BIRTH       
  <div class="row" formGroupName="dob">
          <div class="col-md-4">
                     <select class="form-control" formControlName="month" [(ngModel)]="birthModel.month">
                                <option disabled hidden [value]="birth[0].month">Month</option>
                                <option *ngFor="let number of Months" [value]="number.value">{{number.name}}</option>
                              </select></div>
                              <div class="col-md-4">
                      <select class="form-control" formControlName="day" [(ngModel)]="birthModel.day">
                               <option disabled hidden [value]="birth[0].day">Day</option>
                               <option *ngFor="let number of Days">{{number}}</option>
                             </select>
                  </div><div class="col-md-4">
                     <select class="form-control" formControlName="year" [(ngModel)]="birthModel.year">
                                <option disabled hidden [value]="birth[0].year">Year</option>
                                <option *ngFor="let number of Years" [value]="number">{{number}}</option>
                            </select>
                            </div>
                 </div>
MOBILE NUMBER
     <div class="row" formGroupName="mobile">
         <div class="col-md-6">
           <select data-placeholder="Choose a country..."  style="width:350px;"  class="multi col-md-offset-6" formControlName="country" [(ngModel)]="selectedCountries">
                    <!--<option data-image="https://static.pexels.com/photos/17679/pexels-photo.jpg">1</option>
                    <option data-image="https://static.pexels.com/photos/17679/pexels-photo.jpg">2</option>-->
                    <option *ngFor="let country of countries" [attr.data-image]="country.url" [attr.data-code]="country.callingCodes" [ngValue]="country">
                {{country.name}}
                    </option>
           </select>
              
          </div> 
          <div class="col-md-1">
            <input  class="form-control" type="text" formControlName="code">
          </div>
            <div class="col-md-3">
            <input  class="form-control" type="text" formControlName="number" > 
          </div>   
 </div> 
 PROFESSION
 <div class="row" formGroupName="profession">
   <div class="col-md-6">
      <select class="form-control"  data-placeholder="Choose a country..." style="width:350px;" class="language_proficient col-md-offset-6" formControlName="industry">
       <option *ngFor="let language of lang">{{language}}</option>
     </select>
   </div>
   <div class="col-md-6">
       <select class="form-control" data-placeholder="Choose a title..." style="width:350px;" class="profession_title col-md-offset-6" id="profession_title" formControlName="title" >
       <option *ngFor="let repo of items" value="{{repo.id}}">
      {{rep.full_name}}
    </option>
     </select>
   </div>
 </div>   
  LANGUAGES KNOWN
 <div class="row" formGroupName="languages">
   <div class="col-md-6">
     <select class="form-control"  data-placeholder="Choose a country..." style="width:350px;" class="language_proficient col-md-offset-6" formControlName="proficientIn" multiple="multiple">
       <option *ngFor="let language of lang">{{language}}</option>
     </select>
   </div>
   <div class="col-md-6">
       <select class="form-control"  data-placeholder="Choose a country..." style="width:350px;" class="language_proficient col-md-offset-6" formControlName="familiarWith" multiple="multiple">
       <option *ngFor="let language of lang">{{language}}</option>
     </select>
   </div>
 </div> 
 <label for="about">AboutMe</label>
 <div class="row form-group">
   <div class="col-md-6">
     <textarea class="form-control" rows="7" formControlName="about_me">
     </textarea>
   </div>
 </div>
   <input type="submit" value="Save & Continue" class="btn btn-primary big-rounded-btn" autofocus/> 
     <input type="button" value="Save & Exit" class="btn btn-primary big-rounded-btn"/>  
</form>
<!--<div>
  <img id="image" src="https://static.pexels.com/photos/17679/pexels-photo.jpg">
</div>-->
