/* You can add global styles to this file, and also import other style files */
.big-rounded-btn {
    box-shadow: none;
    width: 20%;
    padding: 10px 0 15px 0;
    border-radius: 30px;
    background-color: black;
    margin: 2% 40%;
    border: 1px grey solid;
    font-size: 2rem;
}
.pac-container {
    z-index: 9999;
}
