<h1 class="text-center">Avoid the tourist traps.</h1>
<h1 class="text-center">Travel like you know the place.</h1>
<p class="text-center">Engage with knowledgeable locals who can help you plan your trip.</p>
<br/>
<app-cityusher></app-cityusher>
<h1 class="text-center">How does it work?</h1>
<h5 class="text-center">Get started with CityUsher in 3 simple steps.</h5>
<h2 class="text-center">Find CityUshers</h2>
<h2 class="text-center">that match your interst!</h2>
<h2 class="text-center">What makes CityUsher different?</h2>
<h3 class="text-center">What our customers say!</h3>